nav ul li{
    display: inline-block;
    width: 80px;
    background-color: #dddddd;
    text-align: center;
    padding: 5px;    
}

nav ul{
    position: fixed;
    top: 10px;
    left: 10px;
}

.long-content{
    height: 1000px;
    background-color: skyblue;   
}