
header{
    height: 50px;
}

#wrapper{
    height: 100px;
}
#main{
    background-color: aliceblue;
    width: 60%;
    height: 150px;
    float: right;
}

aside{
    background-color: aqua;
    width: 30%;
    height: 150px;
    float: left;
}

.clearfix{
    content: '';
    display: block;
    clear: both;        
}


footer{
    height: 50px;
    background-color: blue;
    margin-top: 10px;
    
}