header{
    height: 50px;
    background-color: #ffdddd;
}

#wrapper{
    height: 100px; 
    display: flex;   
    justify-content: space-between;
}

#main{
    background-color: dodgerblue;
    width: 34%;
}

aside{
    background-color: #ffddff;
    width: 33%;
}

footer{
    height: 50px;
    background-color: #ddddff;
}